.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
  /* height: 15rem; */
  min-height: 15rem;
  /* background: lightgrey; */
  /* background: #f4f4f4; */
  margin-right: 1rem;
}

.first {
  /* border-top: 0.5px solid lightgrey; */
}

.last {
  margin-bottom: 0;
  /* border-bottom: 0.5px solid lightgrey; */
}

.card-left {
  /* overflow: hidden; */
  /* position: relative; */
  /* border: 1px dotted black; */
}

.card-left img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  object-fit: cover;
  transform: translate(-50%, -50%);
  display: none;
}

.card-right {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  /* border: 1px dotted black; */
}

.card-right-content {
  /* border: 1px dotted black; */
}

@media (max-width: 950px) {
  .card {
    width: 100%;
  }
}
