.container {
  max-width: 750px;
  margin: auto;
  padding: 2rem 2rem;
  overflow: hidden;
}

.blogpost-container h1 {
  /* text-align: center; */
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.post-image {
  /* min-height: 500px; */
  /* max-height: 50vh; */
  width: 100%;
  margin: auto;
  /* margin-bottom: 1rem; */
  object-fit: cover;
}

.success-message {
  background: #2cece3;
  padding: 1rem;
  margin-bottom: 1rem;
}

.caption {
  margin-bottom: 1rem;
  font-size: 0.7rem;
  text-align: right;
  margin-top: -0.3rem;
}

.content h5 {
  font-size: 1.4rem;
}

.content p {
  font-size: 1.4rem;
  font-family: "Times New Roman", Times, serif;
}

@media (max-width: 768px) {
  .blogpost-container h1 {
    font-size: 2rem;
  }

  .content h5 {
    font-size: 1.2rem;
  }

  .content p {
    font-size: 1.2rem;
  }
}
